<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="container ">
    <h1 class="display-4">Aggiungi Veicolo</h1>
  </div>
</div>
<form class = 'form' [formGroup]="vehicleForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >Targa</label>
      <input type="text" class="form-control"  formControlName="targa"  placeholder="Inserire la Targa">
    </div>
    <div class="form-group col-md-6">
      <label >Anno di Produzione</label>
      <input type="text" class="form-control" formControlName="anno" placeholder="Inserire l'anno di produzione">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Casa Produttrice</label>
      <input type="text" class="form-control" formControlName="casa" placeholder="Inserire la casa produttrice">
    </div>
    <div class="form-group col-md-6">
      <label >Modello</label>
      <input type="text" class="form-control"formControlName="modello" placeholder="Inserire il modello">
    </div>
  </div>
  <app-button [mybuttonconfig]="configadd" (click)="submit()"></app-button>

</form>

