<form  *ngIf = "tipo != 3" class = 'form' [formGroup]="form">


  <div  *ngFor="let campo of campi; let val of object" class="form-group col-md-9">
    <label >{{campo}}</label>
    <input type="text" class="form-control" formControlName="{{campo}}" placeholder="Inserire.." value = "{{val}}">
  </div>


  <app-button [mybuttonconfig]="configadd" (click)="Modifica()"></app-button>
</form>
<form  *ngIf = "tipo === 3" class = 'form' [formGroup]="form">

  <div   *ngFor="let campo of campi; let val of object" class="form-group col-md-9">
    <label >{{campo}}</label>
    <input type="date" class="form-control" formControlName="{{campo}}" placeholder="Inserire.." value = "{{val}}" >
  </div>
  <div  class="form-group col-md-6">
    <label>Targa</label>
    <select  class = "custom-select" [(ngModel)]="targa" [ngModelOptions]="{standalone: true}" >
      <option  *ngFor = "let vehicle of vehicles" >
        {{vehicle.targa}}
      </option>
    </select>

  </div>
  <app-button [mybuttonconfig]="configadd" (click)="Modifica()"></app-button>
</form>
<div *ngIf = "tipo === 2">
<app-table [tableConfig]="configTable" [data]="provadati" [gestRighe]="operazioni"  (opRiga)="opSuRiga($event)"></app-table>
</div>
