

<div *ngIf = "tipo !== 3">
<form   class = 'form' [formGroup]="form">


  <div  *ngFor="let campo of campi; " class="form-group col-md-9">
    <label >{{campo}}</label>
    <input type="text" class="form-control" formControlName="{{campo}}" placeholder="{{object[campo]}}" value="{{object[campo]}}">
  </div>
  <app-button [mybuttonconfig]="configmodifica" (click)="Modifica()"></app-button>
</form>

</div>

<div  *ngIf = "tipo === 3">
<form  class = 'form' [formGroup]="form">


  <div  class="form-group col-md-6">
    <label>Targa</label>
    <input readonly type="text" class="form-control" formControlName="targa" placeholder="{{object['targa']}}" value = "{{object['targa']}}">

  </div>
  <div  class="form-group col-md-6">
    <label>Data Inizio</label>
    <input type="text" class="form-control" formControlName="dataInizio" placeholder="{{object['dataInizio']}}" value = "{{object['dataInizio']}}">

  </div>
  <div  class="form-group col-md-6">
    <label>Data fine</label>
    <input type="text" class="form-control" formControlName="dataFine" placeholder="{{object['dataFine']}}" value = "{{object['dataFine']}}">

  </div>
  <div  class="form-group col-md-6">
    <label>Approvato</label>
    <input readonly type="text" class="form-control" formControlName="approvato" placeholder="{{object['approvato']}}" value = "{{object['approvato']}}">

  </div>
  <app-button [mybuttonconfig]="configmodifica" (click)="Modifica()"></app-button>
</form>

</div>

<div *ngIf = "tipo === 2">
  <app-table [tableConfig]="configTable" [data]="provadati" [gestRighe]="operazioni"  (opRiga)="opSuRiga($event)"></app-table>
</div>

