<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="container ">
    <h1 class="display-4">Gestisci Veicolo</h1>
  </div>
</div>
<form class = "Gestisci veicolo"[formGroup]="vehicleForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="targa">Targa</label>
      <input type="text" class="form-control" id="targa" formControlName="targa" placeholder="Inserire la Targa" value = "{{vehicle.targa}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Anno di Produzione</label>
      <input type="text" class="form-control" id="inputPassword4" formControlName="anno"  placeholder="Inserire l'anno di produzione" value = "{{vehicle.anno}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Casa Produttrice</label>
      <input type="text" class="form-control" id="inputEmail4" formControlName="casa" placeholder="Inserire la casa produttrice" value = "{{vehicle.casa}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Modello</label>
      <input type="text" class="form-control" id="inputPassword4" formControlName="modello" placeholder="Inserire il modello" value = "{{vehicle.modello}}">
    </div>
  </div>

  <button type="submit" class="btn btn-primary oi oi-cog" (click)="modifica()">Modifica</button>
</form>
