<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="container ">
    <h1 class="display-4">{{message}}</h1>
  </div>
</div>

<div #alert class="alert alert-success alert-dismissible fade show" *ngIf="alertMessage !== null " role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Operazione eseguita!</strong> {{alertMessage}}
</div>
<app-add-form [config] = "config"  (submitter)="submit($event)"></app-add-form>
